{{define "title"}}Appointments{{end}}

{{define "main"}}
<div class="container">
  <h1>Appointments</h1>
  <div class="">
    <ul>
      {{range .Appointments}}
      <li>
        <div class="">
          <h3>{{.Title}}</h3>
          <p>{{.Description}}</p>
          <p>{{.StartTime}} - {{.EndTime}}</p>
          <p>{{.Location}}</p>
          <form action="/appointments/delete" method="POST">
            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}" />
            <input type="hidden" name="appointment_id" value="{{.ID}}">
            <button type="submit">Delete</button>
          </form>
        </div>
      </li>
      {{end}}
    </ul>
  </div>
</div>
{{end}}
