{{define "title"}}Home{{end}}
{{define "main"}}
<h1>Welcome to Calendar Genie</h1>


{{if .IsAuthenticated}}
<section>
    <p>To use, please start by linking your Google or Microsoft calendar in <a href="/settings">Settings</a></p>
</section>

{{else}}
<section>
    <h2>Organize Your Schedule</h2>
    <p>Calendar Genie helps you manage your time efficiently. Connect with your favorite calendars, schedule
        appointments, and keep track of your events.</p>
</section>
<section>
    <h2>Features</h2>
    <ul>
        <li>Google and Microsoft Calendar Integration</li>
        <li>Appointment Scheduling</li>
        <li>Group Management</li>
        <li>User Profiles and Search</li>
        <li>Secure and Reliable</li>
    </ul>
</section>
<section>
    <h2>Get Started</h2>
    <p><a href="/user/signup">Sign Up</a> to create an account or <a href="/user/login">Log In</a> if you already have
        one.</p>
</section>

{{end}}
{{end}}
