{{define "title"}}Profile{{end}}

{{define "main"}}
<div class="container">
  <h1>Profile</h1>

  <div>
    <h2>Your events</h2>
    <ul>
      {{range .Events}}
      <li>
        <h5>{{.Title}}</h5>
        <span>{{.Description}}</span>
        <time>{{formatEventTimes .StartTime .EndTime}}</time>
      </li>
      {{end}}
    </ul>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          {{range .HourlyAvailability}}
          <th>{{.Date}}</th>
          {{end}}
        </tr>
      </thead>
      <tbody>
        {{range $hour := .Hours}}
        <tr>
          <td>{{$hour}}:00</td>
          {{range $day := $.HourlyAvailability}}
          {{$availability := index $day.Hours $hour}}
          <td class="{{$availability}}">
            {{if eq $availability "free"}}
            <span>&#x2714;</span>
            {{else}}
            <span>&#x2716;</span>
            {{end}}
          </td>
          {{end}}
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}
