{{define "title"}}Settings{{end}}

{{define "main"}}
<div>
  <h1>Settings</h1>
  <div>
    <h4>Integrations</h4>
    <div>
      {{if .Settings.LinkedMicrosoft}}
      <a href="#">Unlink Microsoft</a>
      {{else}}
      <a href="/oauth/microsoft/link">Link Microsoft</a>
      {{end}}
    </div>
    <div>
      {{if .Settings.LinkedGoogle}}
      <a href="#">Unlink Google</a>
      {{else}}
      <a href="/oauth/google/link">Link Google</a>
      {{end}}
    </div>
  </div>
  <hr />
  <div>
    <h4>Working hours</h4>
    #TODO
  </div>
  {{end}}
