{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>{{template "title" .}} - Calendar Genie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>

<body>
    {{template "nav" .}}
    <main class="container">
        {{template "main" .}}
    </main>
    <footer class="container">
        Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}
    </footer>
    <!-- And include the JavaScript file -->
    <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>
{{end}}
