{{define "nav"}}
<nav>
    <div>
        <a href="/">Home</a>
        <!-- Toggle the link based on authentication status -->
    </div>
    <div>
        <!-- Toggle the links based on authentication status -->
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>
    </div>
</nav>
{{end}}
