{{define "nav"}}
<nav>
    <div>
        <a href="/">Home</a>
        <!-- Toggle the link based on authentication status -->
        {{if .IsAuthenticated}}
        <a href="/snippet/create">Create snippet</a>
        {{end}}
    </div>
    <div>
        <!-- Toggle the links based on authentication status -->
        {{if .IsAuthenticated}}
        <form action="/user/logout" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
            <button>Logout</button>
        </form>
        <a href="/user/profile">Profile</a>
        <a href="/requests">Requests</a>
        <a href="/oauth/microsoft/link">Link M</a>
        <a href="/oauth/google/link">Link G</a>
        {{else}}
        <a href="/user/signup">Signupp</a>
        <a href="/user/login">Login</a>
        {{end}}
    </div>
</nav>
{{end}}
