{{define "nav"}}
<nav>
    <ul>
        <li><a href="/" class="contrast">Calendar Genie</a></li>
    </ul>
    {{if .IsAuthenticated}}
    <ul>
        <li><a href="/user/profile" class="contrast">Profile</a></li>
        <li><a href="/users/search" class="contrast">Users</a></li>
        <li><a href="/groups" class="contrast">Groups</a></li>
        <li><a href="/requests" class="contrast">Requests</a></li>
        <li><a href="/appointments" class="contrast">Appointments</a></li>
        <li><a href="/settings" class="contrast">Settings</a></li>

        <form action="/user/logout" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
            <button>Logout</button>
        </form>
    </ul>

    {{else}}
    <ul>
        <li><a href="/user/signup" class="contrast">Signup</a></li>
        <li><a href="/user/login" class="contrast">Login</a></li>
    </ul>
    {{end}}
</nav>
{{end}}
